  .filter-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    max-width: 965px;
    margin: 0 auto;
    padding: 1rem;
  }

  .restaurants-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    max-width: 965px;
    margin: 0 auto;
  }

  .restaurant-card {
    width: 300px;
  }

  button {
    margin-bottom: 1.5rem;
  }

  a {
    color: #2d2e2f;
    outline: none;
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }

  a:focus {
    text-decoration: none;
  }

